body {
  margin: 0;
  font-family: monospace;
  background: #aaa;
  font-size: 120%;
}

a:visited {
  color: #5500aa;
}

a {
  color: #0000ff;
}

a:hover {
  color: #ff0000;
}

a.glossary {
  text-decoration: dotted underline;
  color: inherit;
}

.keys {
  font-size: 80%;
}

.keys a {
  text-decoration: dotted underline;
  color: inherit;
}

article {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

table {
  width: 100%;
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: center;
  background-color: #3465BD;
  padding: 3px;
}

td {
  border: 1px solid black;
  background: #888;
  padding: 3px;
}

tr:nth-child(odd) td {
  background: #777;
}

article + article {
  margin-top: 0;
}

article hr {
  margin-bottom: 3rem;
}

.pro {
  color: green;
}

.con {
  color: red;
}

div {
  text-align: center;
}

footer {
  display: block;
  text-align: center;
}

footer dl {
  display: inline-block;
}

footer dl dt {
  float: left;
  clear: both;
  width: 30%;
  text-align: left;
}

footer dl dd {
  float: right;
  margin: 0;
  width: 70%;
  text-align: left;
}
