<head>
  <link rel='stylesheet' type='text/css' href='{{core.base_url}}/css/style.css' />
  <title>{{core.name}} : GloboNet</title>
</head>

<body>

  {% for url in urls %}
    <div class='url-row'>
        {{url}}
      </div>
    </div>
  {% endfor %}

</body>
