body {
    font-family: sans-serif;
}

a {
    color: #222;
}

a:visited {
    color: #333;
}

.account {
    border: 1px solid lightgrey;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.avatar {
    max-width: 75px;
}

.account_name {
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
}

.display_name {
    display: inline-block;
    padding: 1rem;
}