<head>
</head>

<style type='text/css'>
body {
	color: white;
}
span {
    display: block;
	vertical-align: middle;
}
div {
    width: 50px;
    height: 50px;
    display: inline-block;
}
</style>

<body style='background-color: #2B2B2B;'>
    <span>
		<div style='background-color: #A9B7C6;'></div>
		<div style='background-color: #A5C25C;'></div>
		<div style='background-color: #9876AA;'></div>
		<div style='background-color: #CC7832;'></div>
		<div style='background-color: #6897BB;'></div>
		<div style='background-color: #808080;'></div>
		<div style='background-color: #629755;'></div>
		<div style='background-color: #526D4A;'></div>
		<div style='background-color: #FFC66D;'></div>
		<div style='background-color: #DA4939;'></div>
    </span>

    <span>
		<div style='background-color: #A9B7C6;'></div>
		<div style='background-color: #A5C25C;'></div>
		<div style='background-color: #9876AA;'></div>
		<div style='background-color: #ac723b;'></div>
		<div style='background-color: #6897BB;'></div>
		<div style='background-color: #808080;'></div>
		<div style='background-color: #629755;'></div>
		<div style='background-color: #526D4A;'></div>
		<div style='background-color: #FFC66D;'></div>
		<div style='background-color: #DA4939;'></div>
    </span>
</body>
