body {
  background: #3b2c47;
  color: #E0F8E0;
  text-align: center;
  font-size: 150%;
  font-family: sans-serif;
}

.shadowbox {
  border-radius: 5px;
  background: #00000055;
  padding: 2rem 4rem;
  margin: auto;
  margin-top: 20%;
  width: 50%;
}

li {
  text-align: left;
  margin-top: 3rem;
}
