
body {
    text-align: center;
    background-image: url('images/Endless-Blue.jpg');
}

.lightbox {
  background-color: #330033aa;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: -2rem;
  padding-right: -2rem;
  border-radius: 10px;
  color: #9cc;
  font-family: Apple Chancery, cursive;
}

.picture {
  max-width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.picture img {
    max-height: 768px;
}

.quote {
    font-style: italic;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.quote-tag {
    text-align: right;
    width: 75%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
