<style>
body { background-color: black; color: #00FF00; font-family: "Comic Sans MS";}
</style>
<center>
<form action="join_submit.php" method="post">
  <br><br>
  Your website URL: <input type="text" name="url"><br>
  Your email address: <input type="text" name="email"><br>
  Your name (optional): <input type="text" name="name"><br><br>
  Message for the webmaster (optional):<br>
  <textarea name="message" rows=10 cols=30></textarea><br><br>
  <input type="submit" value="Submit">
</form>
