<style>
body {background-color: magenta; color: black; font-size: 5em; font-family: "Comic Sans MS";}
</style>
<p>
Thanks for applying to join the Witch Realms of the Pacific Nortwest Web Ring! The webmaster will be in touch with you shortly to help you get set up.
</p>

<a href='../webring.html'>BACK to the homepage!</a>
