body {
  background: #333;
  color: #aaa;
  font-family: sans-serif;
  text-align: center;
}

table {
  display: inline-block;
  border: 1px solid darkgray;
  border-collapse: collapse;
}

td {
  border: 1px solid darkgray;
  padding: 1rem;
}

td.header {
  background: #222;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
