body {
  font-family: monospace;
  background-image: url("Faraway.jpg");
}

main {
  background-color: darkgray;
  border: 5px ridge black;
  padding: 1rem;
}

header {
  color: white;
  font-size: 2rem;
}

article > h1 {
  padding-left: 10%;
  text-align: left;
  text-transform: lowercase;
  font-size: 170%;
  color: white;
}

article .date {
  text-align: right;
  padding-bottom: 1rem;
}

hr {
  width: 80%;
  margin-bottom: 2rem;
  border: 1px solid black;
}

p {
  font-size: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

article.post {
  text-align: center;
}

div.content {
  color: white;
  max-width: 50%;
  margin: auto;
  padding: 3rem;
  border-radius: 20px;
  background-color: #000000de;
}

code {
  text-align: left;
  display: block;
}
