body {
  text-align: center;
  background-color: gray;
  font-family: monospace;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: blue;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

td {
  text-align: left;
  padding-right: 1rem;
  padding-left:   0.4rem;
  padding-top:    0.4rem;
  padding-bottom: 0.4rem;
}

tr > td {
  background-color: white;
}

tr:nth-child(odd) > td {
  background-color: #eee;
}

th {
  background-color: orange;
  font-size: 120%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th, .center {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

td.watched {
  text-align: center;
  color: limegreen;
  font-size: 200%;
  padding: 0.2rem;
}

td.unwatched {
  text-align: center;
  color: salmon;
  font-size: 200%;
  padding: 0.2rem;
}

td.rating-0 {
  text-align: center;
  color: white;
  background-color: #e40 !important;
}

td.rating-1 {
  text-align: center;
  color: white;
  background-color: #d50 !important;
}

td.rating-2 {
  text-align: center;
  color: white;
  background-color: #c60 !important;
}

td.rating-3 {
  text-align: center;
  color: white;
  background-color: #b70 !important;
}

td.rating-4 {
  text-align: center;
  color: white;
  background-color: #a80 !important;
}

td.rating-5 {
  text-align: center;
  color: white;
  background-color: #990 !important;
}

td.rating-6 {
  text-align: center;
  color: white;
  background-color: #8a0 !important;
}

td.rating-7 {
  text-align: center;
  color: white;
  background-color: #7b0 !important;
}

td.rating-8 {
  text-align: center;
  color: white;
  background-color: #6c0 !important;
}

td.rating-9 {
  text-align: center;
  color: white;
  background-color: #5d0 !important;
}

td.rating-10 {
  text-align: center;
  color: white;
  background-color: #4e0 !important;
}