<body>

  <!-- Why David Foster Wallace inspires me -->

  <p>
    <!-- Find some good quotes to put here -->
    <!-- Describe his works and how I feel about each one -->
  </p>

  <!-- How I first got inspired by him -->

  <p>
  </p>

  <!-- Include character flaws here and how they affect my view of him -->

  <a href='https://en.wikipedia.org/wiki/David_Foster_Wallace_bibliography'>Published Bibliography</a>
  <a href='http://www.thehowlingfantods.com/dfw/uncollected-dfw.html'>Unpublished Bibliography</a>
  Things About DFW
  https://en.wikipedia.org/wiki/Although_of_Course_You_End_Up_Becoming_Yourself
  "Every Love Story Is a Ghost Story"
  https://en.wikipedia.org/wiki/The_End_of_the_Tour
  Interviews and speeches listed here: https://en.wikipedia.org/wiki/David_Foster_Wallace#External_links

  <h2>Works By DFW</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Year</th>
      <th>My Experience</th>
    </tr>
    <tr>
      <td>The Broom of the System</td>
      <td>Book</td>
      <td>1986</td>
      <td>Not read</td>
    </tr>
    <tr>
      <td>Infinite Jest</td>
      <td>Book</td>
      <td>1996</td>
      <td>
        Currently reading.<br/>
        <br/>
        When I came across the part about Raquel (if you've read it, you know
        what I'm talking about), I had to put down the book for a few weeks. It
        was so viscerally disturbing that I had to take time to process it and
        mentally prepare myself to return to reading it. I can't imagine what
        state of mind he had to be in to think of that, let alone write it down
        and publish it for the world to read. Did it come from some terrible
        real experience he had, direct or not? Or was it just something he
        discovered lurking in the dark corners of his mind? Whatever the
        reason, the way he faced that and other horrible human experiences
        really impressed itself on me. This section of the book comes during
        his description of addiction in an Alcoholics Anonymous group. I
        related to so many of the things he described in this part, and there
        were two passages in particular that stood out to me.

        Here is the first one. It's woven in and out with another story that I
        won't include here, because it makes less sense out of context, but I'd
        just recommend reading the book instead if you want the full experience
        anyways. The setting is describing the experience of listening to
        speakers at AA meetings.

        <blockquote>
          ...All the speakers' stories of decline and fall and surrender are
          basically alike, and like your own: fun with the Substance, then very
          gradually less fun, then significantly less fun because of like
          blackouts you suddenly come out of on the highway going 145 kph with
          companions you do not know, nights you awake from in unfamiliar
          bedding next to somebody who doesn't even resemble any known sort of
          mammal, three-day blackouts you come out of and have to buy a
          newspaper to even know what town you're in; yes gradually less and
          less actual fun but with some physical need for the Substance, now,
          instead of the former voluntary fun; then at some point suddenly just
          very little fun at all, combined with terrible daily hand-trembling
          need, then dread, anxiety, irrational phobias, dim siren-like
          memories of fun, trouble with assorted authorities, knee-buckling
          headaches, mild seizures, and the litany of what Boston AA calls
          Losses--<br>
          ...<br>
          --then more Losses, with the Substance seeming like the only
          consolation against the pain of the mounting Losses, and of course
          you're in Denial about it being the Substance that's causing the very
          Losses it's consoling you about--<br>
          ...<br>
          --then less mild seizures, D.T.s during attempts to taper off too
          fast, introduction to subjective bugs and rodents, then one more
          binge and more formicative bugs; then eventually a terrible
          acknowledgment that some line has been undeniably crossed, and
          fist-at-the-sky, as-God-is-my-witness vows to buckle down and lick
          this thing for good, to quit for all time, then maybe a few
          white-knuckled days of initial success, then a slip, then more
          pledges, clock-watching, baroque self-regulations, repeated slips
          back intot he Substance's relief after like two days' abstinence,
          ghastly hangovers, head-flattening guilt and self-disgust,
          superstructures of additional self-regulations (e.g. not before
          0900h. not on a worknight, only when the moon is waxing, only in the
          company of Swedes) which also fail--<br>
          ...<br>
          --then unbelievable psychic pain, a kind of peritonitis of the soul,
          psychic agony, fear of impending insanity (why can't I quit if I so
          want to quit, unless I'm insane?), appearances at hospital detoxes
          and rehabs, domestic strife, financial free-fall, eventual domestic
          Losses--<br>
          ...<br>
          --then vocational ultimatums, unemployability, financial ruin,
          pancreatitis, overwhelming guilt, bloody vomiting, cirrhotic
          neuralgia, incontinence, neuropathy, nephritis, black depressions,
          searing pain, with the Substance affording increasingly brief periods
          of relief; then, finally, no relief available anywhere at all;
          finally it's impossible to get high enough to freeze what you feel
          like, being this way; and now you hate the Substance, <i>hate</i> it,
          but you still find yourself unable to stop doing it, the Substance,
          you find you finally want to stop more than anything on earth and
          it's no fun doing it anymore and you can't believe you ever liked
          doing it and but you <i>still</i> can't stop, it's like you're
          totally fucking bats, it's like there's two yous; and when you'd sell
          your own dear Mum to stop and still, you find, can't stop, then the
          last layer of jolly friendly mask comes off your old friend the
          Substance, it's midnight now and all masks come off, and you all of
          a sudden see the Substance as it really is, for the first time you
          see the Disease as it really is, really has been all this time, you
          look in the mirror at midnight and see what owns you, what's become
          what you are--<br>
          ...<br>
          --and then you're in serious trouble, very serious trouble, and you
          know it, finally, deadly serious trouble, because this Substance you
          thought was your one true friend, that you gave up all for, gladly,
          that for so long gave you relief from the pain of the Losses your
          love of that relief caused, your mother and lover and god and
          compadre, has finally removed its smily-face mask to reveal
          centerless eyes and a ravening maw, and canines down to here, it's
          the Face In The Floor, the grinning root-white face of your worst
          nightmares, and the face is your own face in the mirror, now, it's
          <i>you</i>, the Substance has devoured or replaced and become
          <i>you</i>, and the puke-drool-and Substance-crusted T-shirt you've
          both worn for weeks now gets torn off and you stand there looking in
          the root-white chest where your heart (given away to It) should be
          beating, in its exposed chest's center and centerless eyes is just a
          lightless hole, more teeth, and a beckoning taloned hand dangling
          something irresistible, and now you see you've been had, screwed
          royal, stripped and fucked and tossed to the side like some stuffed
          toy to lie for all time in the posture you land in. You see now that
          It's your enemy and your worst possible nightmare and the trouble
          It's gotten you into is undeniable and you <i>still</i> can't stop.
          Doing the Substance now is like attending Black Mass but you still
          can't stop, even though Substance no longer gets you high. You are,
          as they say, Finished. You cannot get drunk and you cannot get sober;
          you cannot get high and you cannot get straight. You are behind bars;
          you are in a cage and can see only bars in every direction. You are
          in the kind of a hell of a mess that either ends lives or turns them
          around. You are at a fork in the road that Boston AA calls your
          <i>Bottom</i>, though the term is misleading, because everybody here
          agrees it's more like someplace very high and unsupported: you're on
          the edge of something tall and leaning way out forward...
        </blockquote>

        <p>
        And then the second passage, which follows the first some time later.
        </p>

        <blockquote>
          ...Gately had an epiphanic AA-related nocturnal dream he'll be the
          first to admit was banally trite. In the dream Gately and row after
          row of totally average and non-unique U.S. citizens were kneeling on
          their knees in polyester cushions in a crummy low-rent church
          basement. The basement was your average low-rent church basement
          except for this dream-church's basement walls were of like this weird
          thin clean clear glass. Everybody was kneeling on these cheap but
          comfortable cushions, and it was weird because nobody seemed to have
          any clear idea why they were all on their knees, and there was like
          no tier-boss or sergeant-at-arms-type figure around coercing them
          into kneeling, and yet there was this sense of some compelling
          unspoken reason why they were all kneeling. It was one of those dream
          things where it didn't make sense but did. And but then some lady
          over to Gately's left got off her knees and all of a sudden stood up,
          just like to stretch, and the minute she stood up she was all of a
          sudden yanked backward with terrible force and sucked out through one
          of the clear glass walls of the basement, and Gately had winced to
          get ready for the sound of serious glass, but the glass wall didn't
          shatter so much as just let the cartwheeling lady sort of melt right
          through, and healed back over where she'd melted through, and she was
          gone. Her cushion and then Gately notices a couple other polyester
          cushions in some of the rows here and there were empty. And it was
          then, as he was looking around, that Gately in his dream looked
          slowly up overhead at the ceiling's exposed pipes and could now all
          of a sudden see, rotating slow and silent through the basement a
          meter above the different-shaped and -colored heads of the kneeling
          assembly, he could see a long plain hooked stick, like the crook of
          a giant shepherd, like the hook that appears from stage-left and
          drags bad acts out of tomato-range, moving slowly above them in
          French-curled circles, almost demurely, as if quietly scanning; and
          when a mild-faced guy in a cardigan happened to stand up and was
          hooked by the hooked stick and pulled ass-over-teakettle out through
          the soundless glass membrane Gately turned his big head as far as he
          could without leaving the cushion and could see, now, just outside
          the wall's clean pane, trolling with the big stick, an
          extraordinarily snappily dressed and authoritative figure
          manipulating the giant shepherd's crook with one hand and coolly
          examining the nails of his otherhand from behind a mask that was
          simply the plain yellow smily-face circle that accompanied
          invitations to have a nice day. The figure was so impressive and
          trustworthy and casually self-assured as to be both soothing and
          compelling. The authoritative figure radiated good cheer and
          abundant charm and limitless patience. It manipulated the big stick
          in the coolly purposeful way of the sort of angler who you know isn't
          going to throw back anything he catches. The slow silent stick with
          the hook he held was what kept them all kneeling below the baroque
          little circumferences of its movement overhead.<br>
          ...<br>
          It had come clear to Gately that Boston AS had the planet's most
          remorselessly hard-ass and efficient sergeant at arms. Gately lay
          there, overhanging all four sides of his bunk, his broad square
          forehead beaded with revelation: Boston AA's Sergeant at Arms stood
          <i>outside</i> the orderly meeting halls, in that much-invoked Out
          There where exciting clubs full of good cheer throbbed gaily below
          lit signs with neon bottles endlessly pouring. AA's patient enforcer
          was always and everywhere Out There: it stood casually checking its
          cuticles in the astringent fluorescence of pharmacies that took
          forged Talwin scrips for a hefty surcharge, in the onionlight through
          paper shades in the furnished rooms of strung-out nurses who financed
          their own cages' maintenance with stolen pharmaceutical samples, in
          the isopropyl reek of storefront offices of stooped old chain-smoking
          MD's whose scrip-pads were always out and who needed only to hear
          'pain' and see cash. In the home of a snot-strangled Canadian VIP and
          the office of an implacable Revere A.D.A. whose wife has opted for
          dentures at thirty-five. AA's disciplinarian looked damn good and
          smelled even better and dressed to impress and his blank
          black-on-yellow smile never faltered as he sincerely urged you to
          have a nice day. Just one more last nice day. Just one.<br>
          &tab;And that was the first night that cynical Gately willingly took
          the basic suggestion to get down on his big knees by his undersized
          spring-shot Ennet House bunk and Ask for Help from something he still
          didn't believe in, ask for his own sick Spider-bit will to be taken
          from him and fumigated and squished.
        </blockquote>

        <p>
        So to me, this describes the human ego and its incredible potential for
        self-destructiveness. The smiley-face man is the manifestation of all
        of our collective egos working together to keep us trapped in a web of
        our own suffering. The greed of one other person is all that's needed
        to keep you enslaved to your own ego. We're all addicted to so many
        things, but we don't notice it because when the majority of us
        participate in a behavior we define that as "normal". We only call it
        "destructive" when it stops you from having "normal" behaviors. But
        almost all of us have a whole host of addictions, both physical and
        mental. Eating sugar. Drinking coffee. Watching Netflix. Facebook.
        Looking at your phone. Escaping into fantasy or fiction. Emotionally
        disconnecting from people around us. These are all habits that we apply
        to avoid what we fear most of all, which is freeing ourselves from the
        grip of our ego and just being our true self in front of another human
        being. Try, really, actually, truly try to let completely go of whatever
        your own particular escape from the reality of life is, and see if you
        don't end up looking in the mirror and find a smiley face grinning back
        at you.
        </p>

      </td>
    </tr>
  </table>

  <h2>Works About DFW</h2>

</body>
