<body>

  <!-- In Progress -->

  <p>
    <h2><a href='dfw.html'>David Foster Wallace</a></h2>
  </p>

  <!-- Not Started -->

  <a href='pkd.html'>Philip K. Dick</a>
  <a href='borges.html'>Jorge Luis Borges</a>
  <a href='mark_z_danielewski.html'>Mark Z. Danielewski</a>
  <a href='murakami.html'>Haruki Murakami</a>
  <a href='guthrie.html'>Woodie Guthrie</a>
  <a href='dylan.html'>Bob Dylan</a>
  <a href='le_guin.html'>Ursula K. Le Guin</a>
  <a href='mccaffery.html'>Anne McCaffery</a>
  <a href='mcluhan.html'>Marshall McLuhan</a>
  <a href='joyce.html'>James Joyce</a>
  <a href='macdonald.html'>George MacDonald</a>
  <a href='harlan_ellison.html'>Harlan Ellison</a>
  <a href='graeber.html'>David Graeber</a>
  <a href='jodorowsky.html'>Alejandro Jodorowsky</a>
  <a href='keith_haring.html'>Keith Haring</a>
  <a href='hennacy.html'>Ammon Hennacy</a>
  <a href='buddha.html'>Siddhartha Gautama</a>
  <a href='hesse.html'>Herman Hesse</a>
  <a href='kurosawa.html'>Akira Kurosawa</a>
  <a href='miyazaki.html'>Hayao Miyazaki</a>
  <a href='lynch.html'>David Lynch</a>
  <a href='van_gogh.html'>Vincent Van Gogh</a>
  <a href='alan_watts.html'>Alan Watts</a>
  <a href='francisco_goya.html'>Francisco Goya</a>
  <a href='osamu_tezuka.html'>Osamu Tezuka</a>
  <a href='warhol.html'>Andy Warhol</a>
  <a href='lou_reed.html'>Lou Reed</a>
  <a href='chogyam_trungpa.html'>Chogyam Trungpa</a>
  <a href='michael_gira.html'>Michael Gira</a>
  <a href='maslow.html'>Abraham Maslow</a>
  <a href='huxley.html'>Aldous Huxley</a>
  <a href='albert_hofmann.html'>Albert Hofmann</a>
  <a href='mandelbrot.html'>Benoit Mandelbrot</a>
  <a href='terry_davis.html'>Terry A. Davis</a>
  <a href='tarn_adams.html'>Tarn Adams</a>
  <a href='giger.html'>H. R. Giger</a>
  <a href='herzog.html'>Werner Herzog</a>
  <a href='vonnegut.html'>Kurt Vonnegut</a>
  <a href='cash.html'>Johnny Cash</a>

  <!-- bands/groups -->

  - Sonic Youth
  - Negativland

  <!-- genres/themes -->

  - Magical Realism
  - No Wave
  - Buddhism
  - Anarchism

  <!-- Anti-Inspirations -->

  <table>
    <tr>
      <td>H. P. Lovecraft</td>
      <td>
        Racist, self-obsessed, not actually that good of a writer. Had a vivid
        imagination but just used it to rehash ideas that were previously done
        better by other writers. (Dunsany, Poe)
      </td>
    </tr>
    <tr>
      <td>Douglas Coupland</td>
      <td>
        Tries to live up to the legacy of McLuhan but doesn't carry the real
        heart of the idea through. There is too much irony/self-awareness and
        not enough vulnerability for me to connect to his work.
      </td>
    </tr>
    <tr>
      <td>
        Salvadore Dali
      </td>
    </tr>
    <tr>
      <td>
        Jean Baudrillard
      </td>
    </tr>
  </table>

</body>
