<head>
  <link rel='icon' type='image/png' href='../favicons/main.png' />
  <title>isolate : emotions</title>
</head>

<body>
  <dl>
    <dt>phobos</dt>
    <dd>fear</dd>

    <dt>deimos</dt>
    <dd>dread</dd>

    <dt>lexis</dt>
    <dd>word</dd>

    <dt>techne</dt>
    <dd>craft</dd>

    <dt>psyche</dt>
    <dd>soul</dd>

    <dt>eros</dt>
    <dd>desire</dd>

    <dt>ethos</dt>
    <dd>morality, character</dd>

    <dt>pathos</dt>
    <dd>suffering, experience</dd>

    <dt>nous</dt>
    <dd>intellect</dd>
</body>
