body {
  font-family: Calligraffitti, "Chancery Uralic", fantasy;
  font-size: 140%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  background: url("./parchment.jpg") fixed no-repeat;
}

nav a {
  padding: 2rem;
  color: white;
  background: radial-gradient(circle closest-side darkblue, black, transparent);
  text-decoration: none;
}

nav a:hover {
  color: white;
  background: radial-gradient(circle closest-side black, darkblue, transparent);
}

h1 {
  color: white;
  display: inline-block;
  padding: 5rem;
  background: radial-gradient(circle closest-side, darkgreen, black, transparent);
}

h1.link {
  background: none;
}

h1.link a {
  color: white;
  text-decoration: none;
  padding: 5rem;
  background: radial-gradient(ellipse closest-side, darkred, black, transparent);
}

h1.link a:hover {
  color: darkred;
  background: radial-gradient(ellipse closest-side, white, black, transparent);
}

h2 {
  color: white;
  display: inline-block;
  padding: 1rem;
  background: radial-gradient(circle closest-side, darkred, black, transparent);
}

a.img:hover {
  background: none;
}

.section-heading {
  display: table;
  margin: auto;
  padding: 3rem;
}

.section-heading img,
.section-heading h2 {
  display: table-cell;
  vertical-align: middle;
}

/***********
 * Journal *
 ***********/

.entry {
  width: 80%;
  margin: auto;
}
