body {
  font-family: eufm10, fantasy;
  font-size: 120%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}

nav a {
  padding: 2rem;
  color: darkgray;
  background: radial-gradient(circle closest-side darkblue, black, transparent);
  text-decoration: none;
}

nav a:hover {
  color: white;
  background: radial-gradient(circle closest-side black, darkblue, transparent);
}

h1 {
  display: inline-block;
  padding: 5rem;
  background: radial-gradient(circle closest-side, darkgreen, black, transparent);
}

h1.link {
  background: none;
}

h1.link a {
  color: white;
  text-decoration: none;
  padding: 5rem;
  background: radial-gradient(ellipse closest-side, darkred, black, transparent);
}

h1.link a:hover {
  color: darkred;
  background: radial-gradient(ellipse closest-side, white, black, transparent);
}

h2 {
  display: inline-block;
  padding: 1rem;
  background: radial-gradient(circle closest-side, darkred, black, transparent);
}

a {
  color: green;
}

a:hover {
  color: green;
  background: white;
}
a.img:hover {
  background: none;
}

.section-heading {
  display: table;
  margin: auto;
  padding: 3rem;
}

.section-heading img,
.section-heading h2 {
  display: table-cell;
  vertical-align: middle;
}

/******************
 * Campaign Chart *
 ******************/

table#campaign-chart {
  margin: auto;
  border-spacing: 0;
}

#campaign-chart tr {
  margin: 0;
  padding: 0;
}

#campaign-chart th.difficulty {
  transform: rotate(-45deg);
  max-width: 1rem;
  padding-bottom: 1rem;
}

#campaign-chart td {
  color: black;
  background: black;
  border: 1px solid black;
}

#campaign-chart td.campaign {
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
}

#campaign-chart td.not-started {
  background-color: gray;
}

#campaign-chart td.na {
  background-color: black;
}

#campaign-chart td.in-progress {
  color: black;
  background-color: orange;
}

#campaign-chart td.completed {
  color: black;
  background-color: green;
}

/******************
 * Replay Listing *
 ******************/

table.replay-list {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
  vertical-align: top;
  border-spacing: 0;
}

.replay-list td,
.replay-list th {
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background: black;
  color: gray;
}

.replay-list td:first-child,
.replay-list th:first-child {
  border-left: 1px solid gray;
}

.replay-list th {
  color: black;
  background: orange;
}

.replay-list tr.completed th {
  background: green;
}

.replay-list tr:last-child td {
  border-bottom: 1px solid gray;
}
