body {
  background-color: gray;
  font-family: monospace;
  font-size: 120%;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

.center {
  text-align: center;
}

.icon {
  text-align: center;
}

th.icon img,
td.icon img {
  width: 35%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

tr.PC    > td { background-color: #CCF; }
tr.GB    > td { background-color: #ADA; }
tr.NES   > td { background-color: #FAA; }
tr.SNES  > td { background-color: #DAD; }
tr.Apple > td { background-color: #9F9; }
tr.PSX   > td { background-color: #DDD; }
tr.PS2   > td { background-color: #999; }

th {
  background-color: orange;
  padding: 0.4rem;
}

td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

td.icon {
  background-color: lightgray !important;
}

td.completed {
  background-color: limegreen !important;
}

td.uncompleted {
  background-color: red !important;
}

td.completion-na {
  background-color: gray !important;
}
