body {
  font-family: eufm10, fantasy;
  font-size: 120%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}

nav a {
  padding: 2rem;
  color: darkgray;
  background: radial-gradient(circle closest-side darkblue, black, transparent);
  text-decoration: none;
}

nav a:hover {
  color: white;
  background: radial-gradient(circle closest-side black, darkblue, transparent);
}

h1 {
  display: inline-block;
  padding: 5rem;
  background: radial-gradient(circle closest-side, darkgreen, black, transparent);
}

h1.link {
  background: none;
}

h1.link a {
  color: white;
  text-decoration: none;
  padding: 5rem;
  background: radial-gradient(ellipse closest-side, darkred, black, transparent);
}

h1.link a:hover {
  color: darkred;
  background: radial-gradient(ellipse closest-side, white, black, transparent);
}

h2 {
  display: inline-block;
  padding: 1rem;
  background: radial-gradient(circle closest-side, darkred, black, transparent);
}

a {
  color: green;
}

a:hover {
  color: green;
  background: white;
}
a.img:hover {
  background: none;
}

.section-heading {
  display: table;
  margin: auto;
  padding: 3rem;
}

.section-heading img,
.section-heading h2 {
  display: table-cell;
  vertical-align: middle;
}

/******************
 * Campaign Chart *
 ******************/

table#campaign-chart {
  margin: auto;
  border-spacing: 0;
  background: black;
}

#campaign-chart a {
  color: white;
}

#campaign-chart a:hover {
  color: darkmagenta;
  background: white;
}

#campaign-chart tr {
  margin: 0;
  padding: 0;
}

#campaign-chart th {
  background-image: url('fossil.jpg');
  min-width: 2rem;
}

#campaign-chart td {
  color: black;
  background: gray;
  border: 1px solid black;
}

#campaign-chart td.campaign {
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  background: darkmagenta;
}

#campaign-chart td.section-header {
  background-color: darkred;
}

#campaign-chart td.started {
  color: black;
  background-color: orange;
}

#campaign-chart td.done {
  color: black;
  background-color: green;
}

/**************
 * Cool Links *
 **************/

dl {
  background: black;
  border: 8px groove silver;
  display: inline-block;
}

dt {
  padding-top: 0.5rem;
}

dd {
  border-bottom: 2px solid silver;
  padding-bottom: 0.5rem;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

dd:last-child {
  border-bottom: none;
}
