@import url(http://fonts.googleapis.com/css?family=Coming+Soon|Nothing+You+Could+Do|Reenie+Beanie|Monsieur+La+Doulaise|UnifrakturCook:700|Calligraffitti&subset=latin,latin-ext);

body {
  font-size: 140%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  background: url("./parchment.jpg") fixed no-repeat;
}

nav a {
  padding: 2rem;
  color: darkgray;
  background: radial-gradient(circle closest-side darkblue, black, transparent);
  text-decoration: none;
}

nav a:hover {
  color: white;
  background: radial-gradient(circle closest-side black, darkblue, transparent);
}

h1 {
  display: inline-block;
  padding: 5rem;
  background: radial-gradient(circle closest-side, darkgreen, black, transparent);
}

h1.link {
  background: none;
}

h1.link a {
  color: white;
  text-decoration: none;
  padding: 5rem;
  background: radial-gradient(ellipse closest-side, darkred, black, transparent);
}

h1.link a:hover {
  color: darkred;
  background: radial-gradient(ellipse closest-side, white, black, transparent);
}

h2 {
  display: inline-block;
  padding: 1rem;
  background: radial-gradient(circle closest-side, darkred, black, transparent);
}

a {
  color: green;
}

a:hover {
  color: green;
  background: white;
}
a.img:hover {
  background: none;
}

.section-heading {
  display: table;
  margin: auto;
  padding: 3rem;
}

.section-heading img,
.section-heading h2 {
  display: table-cell;
  vertical-align: middle;
}

/************
 * Journals *
 ************/

.entry {
  width: 80%;
  margin: auto;
  padding: 3rem;
}

.serena {
  font-family: 'Calligraffitti', cursive;
}

.alamar {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 150%;
}

.elpa {
  font-family: 'Nothing You Could Do', cursive;
}

.galkorek {
  font-family: 'Reenie Beanie', cursive;
  font-size: 120%;
  text-transform: uppercase;
}

.ulfur {
  font-family: 'UnifrakturCook', cursive;
}

.argos {
  font-family: 'Coming Soon', cursive;
}

/******************
 * Campaign Chart *
 ******************/

table#campaign-chart {
  margin: auto;
  border-spacing: 0;
  background: black;
}

#campaign-chart tr {
  margin: 0;
  padding: 0;
}

#campaign-chart th {
  background-image: url('fossil.jpg');
  min-width: 2rem;
}

#campaign-chart td {
  color: black;
  background: gray;
  border: 1px solid black;
}

#campaign-chart td.campaign {
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  background: darkmagenta;
}

#campaign-chart td.section-header {
  background-color: darkred;
}

#campaign-chart td.started {
  color: black;
  background-color: orange;
}

#campaign-chart td.done {
  color: black;
  background-color: green;
}

/******************
 * Replay Listing *
 ******************/

table.replay-list {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
  vertical-align: top;
  border-spacing: 0;
}

.replay-list td,
.replay-list th {
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background: black;
  color: gray;
}

.replay-list td:first-child,
.replay-list th:first-child {
  border-left: 1px solid gray;
}

.replay-list th {
  color: black;
  background: orange;
}

.replay-list tr.completed th {
  background: green;
}

.replay-list tr:last-child td {
  border-bottom: 1px solid gray;
}
