<body>

  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>O</th>
      <th>Notes</th>
    </tr>

    <tr>
      <td>4</td>
      <td>Charmander</td>
      <td>X</td>
      <td>Defeat Red in SoulSilver</td>
    </tr>

    <tr>
      <td>29</td>
      <td>Nidoran Female</td>
      <td>X</td>
      <td>
        <ul>
          <li>Diamond: Route 201 (Poke Radar)</li>
          <li>White 2: Route 2 (Hidden Grotto)</li>
        </ul>
      </td>
    </tr>

  </table>

</body>
