<head>
  <meta charset="utf-8">
  <title>extropic's UNDERTALE Fan Page!!!</title>
  <link rel="stylesheet" href="undertale.css">
</head>
<body>
  <h1>extropic's UNDERTALE Fan Page!!!</h1>

  <hr>

  <h2>My UNDERTALE playthroughs</h2>

  <table>
    <tr>
      <th>Type</th>
      <th>Started on</th>
      <th>Finished on</th>
      <th>Save file</th>
    </tr>
    <tr>
      <td>Pacifist</td>
      <td>Monday, June 26th 2017</td>
      <td>Not yet!</td>
      <td>-</td>
  </table>

</body>
