body {
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  margin: auto;
}

th {
  color: red;
  border: 1px solid white;
  padding: 5px;
}

td {
  border: 1px solid white;
  padding: 5px;
}

