body {
  background-color: gray;
  font-family: monospace;
  font-size: 120%;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

.center {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: orange;
  padding: 0.4rem;
}

td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

td.finished {
  text-align: center;
  color: limegreen;
  font-size: 200%;
  padding: 0.2rem;
}

td.unfinished {
  text-align: center;
  color: salmon;
  font-size: 200%;
  padding: 0.2rem;
}
