/* lit base */
@media(min-width:35em){.col{display:table-cell}.\31{width:5%}.\33{width:22%}.\34{width:31%}.\35{width:39%}.\32{width:13%}.row{display:table;border-spacing:1em 0}}.row,.w-100{width:100%}.c{padding:1em;max-width:60em;margin:auto}.card,pre{padding:1em;border:solid #ddd;margin:.5em 0}.card:focus,hr{border:solid #111;outline:0}body{font:1em/1.6 nunito;background:#333}pre{overflow:auto}h6{font:300 1em nunito;margin:.5em 0}h5{font:300 1.3em nunito;margin:.5em 0}h3{font:300 1.9em nunito;margin:.5em 0}h4{font:300 1.5em nunito;margin:.5em 0}h2{font:300 2.2em nunito;margin:.5em 0}h1{font:300 2.5em nunito;margin:.5em 0}a{color:#111;text-decoration:none}.btn.primary{color:#fff;background:#111;border:solid #111}*{box-sizing:border-box}.btn:hover,a:hover{opacity:.6}td,th{padding:1em;text-align:left;border-bottom:solid #ddd}.btn{letter-spacing:.1em;padding:1em;background:0 0;border:solid;font-size:.7em}

body {
  color: #ddd;
  text-align: center;
}

a {
  color: #aaa;
}

a:hover {
  color: #bbb;
}
