/* ==UserStyle==
@name           Quieter Mastodon
@namespace      radical.town/@nova
@version        1.1.0
@description    Hide mastodon gamified counts
@author         @nova@radical.town, @tao@cursed.technology
==/UserStyle== */

.detailed-status__reblogs,
.detailed-status__favorites,
{
    display: none !important;
}

.account__header__extra__links a strong {
  display: none !important;
}
.account__header__extra__links a::before {
  content: '&#128302;';
}

.details-counters .counter-number {
  display: none !important;
}
.details-counters .counter a::before {
  content: '&#128302;';
}
