body {
  background-image: url('george.gif');
  background-repeat: repeat;
}

a {
  text-align: center;
  display: block;
  padding: 3rem;
}

div {
  background: #33000033;
  width: 75%;
  margin: auto;
  border-radius: 5rem;
  padding: 2rem;
}

h1 {
  color: magenta;
  font-family: sans-serif;
  font-weight: 100;
  width: 80%;
  margin: auto;
}
