body {
  font-family: Terminus, Monaco, monospace;
  font-size: 18px;
  background: #2c2a28;
  color: #00d000;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
}

a {
  color: #2c2a28;
  background: #00d000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #00d000;
  background: #2c2a28;
}

.header {
  font-size: 150%;
  padding-bottom: 1.5rem;
}

.section-title {
  padding-bottom: 0.5rem;
}

.section-items {
  display: inline-block;
  padding-bottom: 2rem;
}

.section-items .item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.item a {
  width: 100%;
  display: block;
}

.footer {
  text-align: right;
  clear: both;
  padding-bottom: 2rem;
}

.nav {
  width: 100%;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.nav-forward {
  display: inline-block;
  float: right;
}

.adsense {
  text-align: center;
}

hr {
  border-top: 1px solid #00d000;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
  border-top: 1px solid #00d000;
}

.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td {
  /*
  TODO:
    right align text columns in tables
    vertically center table cells
  */
  border: 1px solid #00d000;
}
