<head>
  <link rel='stylesheet' href='code2.css'>
</head>

<body>

  <div class='header'>code][</div>

<!--
  <div class='section-title'>ProDOS Tutorials</div>
  <div class='section-items'>
    <div class='item'><a href='assembly/prodos.html'>* ProDOS Programming in Assembly</a></div>
    <div class='item'><a href='basic/prodos.html'>* ProDOS Programming in BASIC</a></div>
    <div class='item'><a href='pascal/prodos.html'>* ProDOS Programming in Pascal</a></div>
    <div class='item'><a href='c/prodos.html'>* ProDOS Programming in C</a></div>
  </div>
-->

  <div class='section-title'>GS/OS Tutorials</div>
  <div class='section-items'>
    <!--<div class='item'><a href='assembly/gsos.html'>* GS/OS Programming in Assembly</a></div>-->
    <!--<div class='item'><a href='basic/gsos.html'>* GS/OS Programming in BASIC</a></div>-->
    <div class='item'><a href='pascal/gsos.html'>* GS/OS Programming in Pascal</a></div>
    <!--<div class='item'><a href='c/gsos.html'>* GS/OS Programming in C</a></div>-->
  </div>

  <div class='section-title'>References</div>
  <div class='section-items'>
    <div class='item'><a href='assembly/mmap.html'>* Apple ][ Memory Map</a></div>
    <div class='item'><a href='databases/software.php'>* Apple ][ Software Database</a></div>
  </div>

  <div class='footer'>
    questions, suggestions, impressions: <a href="mailto:admin@extropicstudios.com">admin@extropicstudios.com</a>
  </div>

</body>
