body {
  text-align: center;
  background-color: gray;
  font-family: monospace;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: blue;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

td {
  text-align: left;
  padding-right: 1rem;
  padding-left:   0.4rem;
  padding-top:    0.4rem;
  padding-bottom: 0.4rem;
}

tr > td {
  background-color: white;
}

tr:nth-child(odd) > td {
  background-color: #eee;
}

th {
  background-color: orange;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th, .center {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

th.header {
  background-color: darkorange;
  font-size: 120%;
}

td.subheader {
  background-color: wheat !important;
}

td.watched {
  text-align: center;
  color: limegreen;
  font-size: 200%;
  padding: 0.2rem;
}

td.unwatched {
  text-align: center;
  color: salmon;
  font-size: 200%;
  padding: 0.2rem;
}
