<style>
body {
  font-family: sans-serif;
  background: #f0f0f0;
}

table {
  margin: auto;
  padding: 2rem;
  width: 50%;
}

th {
  background: #999;
}

td {
  padding-right: 1rem;
}

td + td {
  border-left: 2px solid #333;
  padding-left: 1rem;
}
</style>

<table>
  <tr>
    <th colspan=2>Potentiometers on front left panel (5274)</th>
  </tr>
  <tr>
    <td>VR3</td>
    <td>???</td>
  </tr>
  <tr>
    <td>VR7</td>
    <td>???</td>
  </tr>
  <tr>
    <td>VR9</td>
    <td>???</td>
  </tr>
  <tr>
    <td>VR10</td>
    <td></td>
  </tr>
</table>

<table>
  <tr>
    <th colspan=2>Potentiometers on front right panel (5273)</th>
  </tr>
  <tr>
    <td>VR4</td>
    <td>Controls "video art" "picture effector"</td>
  </tr>
  <tr>
    <td>VR5</td>
    <td>Horizontal stretch (?)</td>
  </tr>
  <tr>
    <td>VR6</td>
    <td>Controls wipe stretch (horizontal and vertical)</td>
  </tr>
  <tr>
    <td>VR7</td>
    <td>Vertical stretch</td>
  </tr>
  <tr>
    <td>VR8</td>
    <td>Cor square</td>
  </tr>
  <tr>
    <td>VR10</td>
    <td>Vert scale for square</td>
  </tr>
  <tr>
    <td>VR11</td>
    <td>Vert scale (for diamond only?)</td>
  </tr>
  <tr>
    <td>VR12</td>
    <td>Horiz scale (for diamond only?)</td>
  </tr>
  <tr>
    <td>VR13</td>
    <td>Horiz skew (for diamond only?)</td>
  </tr>
  <tr>
    <td>VR14</td>
    <td>Vert skew (for diamond only?)</td>
  </tr>
  <tr>
    <td>VR15</td>
    <td>Bottom stretch (for diamond only?)</td>
  </tr>
  <tr>
    <td>VR16</td>
    <td>Angle for / diagonal wipe</td>
  </tr>
  <tr>
    <td>VR17</td>
    <td>Angle for \ diagonal wipe</td>
  </tr>
  <tr>
    <td>VR18</td>
    <td>Controls wipe horizontal position (even for wipes that can't be moved)</td>
  </tr>
  <tr>
    <td>VR21</td>
    <td>Controls wipe vertical positions (even for wipes that can't be moved)</td>
  </tr>
</table>
