<p>
  The Zoey II is a candybar phone made by BLU. As of 2015, it can be bought unlocked
  from several online retailers including Amazon and Newegg.
</p>

<h2>Features</h2>

<ul>
  <li>Dual-SIM</li>
  <li>FM Radio</li>
  <li>MicroSD slot</li>
</ul>

<h2>Potential attack vectors</h2>

<ul>
  <li>Images</li>
  <li>Audio files</li>
  <li>BLU Club (social networking/"internet" features)</li>
</ul>

<h2>Notes</h2>

<p>
  BLU Club requires the presence of an SD card, and seems to download all the files to the SD card on first launch.
</p>
<p>
  In BLU Club, the "Games" option appears to use some kind of web browser.
</p>
