<p>
  The LG440G is a flipphone made by LG for Tracphone from 2012-present (2015).
  Tracphone is the only network provider selling the 440G and all 440G phones
  are locked to Tracphone.
</p>

<h2>Potential attack vectors<h2>

<ul>
  <li>MicroUSB port. There are no other ports, not even a headphone jack!</li>
  <li>Bluetooth</li>
  <li>Audio formats: MP3, AAC, AAC+, WMA</li>
  <li>Photos</li>
  <li>Video</li>
  <li>Web Browser (supports JavaScript)</li>
  <li>Email</li>
  <li>J2ME (is sideloading possible?)</li>
</ul>

<h2>Resources</h2>

<ul>
  <li><a href="https://s3.amazonaws.com/codexx/hack-ohm/LGUnitedMobileDriver_S52MAN314AP22_ML_WHQL_Ver_3.14.1.exe">Windows USB Driver</a></li>
  <li><a href="https://s3.amazonaws.com/codexx/hack-ohm/LG440G_User_Manual.pdf">User Manual</a></li>
  <li>
    <a href="https://s3.amazonaws.com/codexx/hack-ohm/j2me_cldc_security_evaluation.pdf">Security Evaluation of J2ME CLDC Embedded Java Platform</a>
     M. Debbabi, M. Saleh, C. Talhi and S. Zhioua. Journal of Object Technology. 2006.
  </li>
  <li>
    <a href="https://s3.amazonaws.com/codexx/hack-ohm/reynaud_j2me.pdf">J2ME Low Level Security</a>
    D. Reynaud. 2005.
  </li>
  <li>
    <a href="http://shop.oreilly.com/product/9780596002534.do">J2ME In A Nutshell</a> 2002.
  </li>
</ul>

<h2>Notes</h2>

<ul>
  <li>
    The "buy games" link loads data over HTTP. Could be possible to intercept and load custom J2ME software through that.
  </li>
  <li>Files can be uploaded via Bluetooth (useful for non-Windows systems)</li>
</ul>

<h2>Data about my phone</h2>

<dl>
  <dt>Hardware Version</dt>  <dd>1.0</dd>
  <dt>Software Version</dt>  <dd>LG440G-V10f-MAY-22-2013-TRF-US</dd>
  <dt>Java CLDC Version</dt> <dd>1.1</dd>
  <dt>Java MIDP Version</dt> <dd>2.1</dd>
</dl>
