<head>
  <link rel="stylesheet" href="../../bootstrap3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bootstrap3/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='../code2.css'>
</head>

<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1><a href='../index.html'>code][</a></h1>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-offset-3 col-md-6 text-center'>
        <p>this is a work in progress. it is incomplete and contains errors. please send questions or improvements to: <a href="mailto:admin@extropicstudios.com">admin@extropicstudios.com</a></p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <h1>Zero Page</h1>
        <table class="table table-bordered text-center">
          <tr>
            <th>Addr</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>$20</td>
            <td>Leftmost column of the text window.</td>
          </tr>
          <tr>
            <td>$21</td>
            <td>Width of the text window.</td>
          </tr>
          <tr>
            <td>$22</td>
            <td>Top line of the text window.</td>
          </tr>
          <tr>
            <td>$23</td>
            <td>Bottom line of the screen.</td>
          </tr>
          <tr>
            <td>$24</td>
            <td>Horizontal cursor position for 40 column display. When the 80 column display is active, use $057B.</td>
          </tr>
          <tr>
            <td>$25</td>
            <td>Vertical cursor postion. Must be changed by calling VTAB.</td>
          </tr>
          <tr>
            <td>$28</td>
            <td>Lo byte of address calculated by BASCALC ($FBC1), which calculates memory addresses for the 80 column display</td>
          </tr>
          <tr>
            <td>$29</td>
            <td>Hi byte of address calculated by BASCALC ($FBC1), which calculates memory addresses for the 80 column display</td>
          </tr>
          <tr>
            <td>$32</td>
            <td>
              Inverse flag for character display. If the value of the character being printed is >= $A0, it is ANDed with the value here before
              being displayed. $FF prints characters normally, $3F inverts characters, and $7F prints flashing characters.
            </td>
          <tr>
            <td>$33</td>
            <td>
              Prompt character to be used by GETLN.
            </td>
          </tr>
          <tr>
            <td>$36</td>
            <td rowspan=2>
              Character Output Switch. Holds the starting address of the routine to be used for single-character output (normally COUT1, $FDF0).
            </td>
          </tr>
          <tr>
            <td>$37</td>
          </tr>
          <tr>
            <td>$38</td>
            <td rowspan=2>
              Keyboard Input Switch. Holds the starting address of the routine to be used for single-character input (normally KEYIN, $FD1B).
            </td>
          </tr>
          <tr>
            <td>$39</td>
          </tr>
          <tr>
            <td>$4E</td>
            <td rowspan=2>
              Random number generated after a call to KEYIN.
            </td>
          </tr>
          <tr>
            <td>$4F</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <h1>Hardware Page ($C0)</h1>
        <table class='table table-bordered text-center'>
          <tr>
            <th>Addr</th>
            <th>Name</th>
            <th>Read</th>
            <th>Write</th>
          </tr>
          <tr>
            <td>$C000</td>
            <td>80STORE_OFF</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C001</td>
            <td>80STORE_ON</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C004</td>
            <td>RAMWRT_MAIN</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C005</td>
            <td>RAMWRT_AUX</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C00C</td>
            <td>80COL_OFF</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C00D</td>
            <td>80COL_ON</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C00E</td>
            <td>ALTCHAR_OFF</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C00F</td>
            <td>ALTCHAR_ON</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C014</td>
            <td>RDRAMWRT</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C018</td>
            <td>RD80STORE</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C01A</td>
            <td>RDTEXT</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C01C</td>
            <td>RDPAGE2</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C01D</td>
            <td>RDHIRES</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C01E</td>
            <td>RDALTCHAR</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C01F</td>
            <td>RD80COL</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C030</td>
            <td>-</td>
            <td>Toggles the speaker</td>
            <td>-</td>
          </tr>
          <tr>
            <td>$C050</td>
            <td>TEXT_OFF</td>
            <td colspan=2>Set text mode off</td>
          </tr>
          <tr>
            <td>$C051</td>
            <td>TEXT_ON</td>
            <td colspan=2>Set text mode on</td>
          </tr>
          <tr>
            <td>$C052</td>
            <td>MIXED_OFF</td>
            <td colspan=2>Set mixed mode off</td>
          </tr>
          <tr>
            <td>$C053</td>
            <td>MIXED_ON</td>
            <td colspan=2>Set mixed mode on</td>
          </tr>
          <tr>
            <td>$C054</td>
            <td>PAGE2_OFF</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C055</td>
            <td>PAGE2_ON</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C056</td>
            <td>HIRES_OFF</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C057</td>
            <td>HIRES_ON</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C05E</td>
            <td>DHIRES_ON</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C05F</td>
            <td>DHIRES_OFF</td>
            <td colspan=2>-</td>
          </tr>
          <tr>
            <td>$C07E</td>
            <td>IOUDIS_ON / RDIOUDIS</td>
            <td>1 if IOUDIS is on, 0 if it is off</td>
            <td>Set IOUDIS on</td>
          </tr>
          <tr>
            <td>$C07F</td>
            <td>IOUDIS_OFF / RDDHIRES</td>
            <td>1 if DHIRES is on, 0 if it is off</td>
            <td>Set IOUDIS off</td>
          </tr>
          <tr>
            <td>$C07F</td>
            <td>IOUDIS_OFF</td>
            <td colspan=2>-</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <h1>ROM Routines</h1>
        <table class='table table-bordered text-center'>
          <tr>
            <th>Addr</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>$C412</td>
            <td>SETMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C413</td>
            <td>SERVEMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C414</td>
            <td>READMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C415</td>
            <td>CLEARMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C416</td>
            <td>POSMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C417</td>
            <td>CLAMPMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C418</td>
            <td>HOMEMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$C419</td>
            <td>INITMOUSE</td>
            <td></td>
          </tr>
          <tr>
            <td>$F800</td>
            <td>PLOT</td>
            <td>Plots a single low-resolution block on the screen.</td>
          </tr>
          </tr>
          <tr>
            <td>$F819</td>
            <td>HLINE</td>
            <td>Draws a horizontal line of blocks.</td>
          </tr>
          <tr>
            <td>$F828</td>
            <td>VLINE</td>
            <td>Draws a vertical line of low-resolution blocks.</td>
          </tr>
          <tr>
            <td>$F832</td>
            <td>CLRSCR</td>
            <td>Clears the low-resolution screen.</td>
          </tr>
          <tr>
            <td>$F836</td>
            <td>CLRTOP</td>
            <td>Clears the top 40 lines of the low-resolution screen.</td>
          </tr>
          <tr>
            <td>$F864</td>
            <td>SETCOL</td>
            <td>Sets the color for plotting in low res.</td>
          </tr>
          <tr>
            <td>$F871</td>
            <td>SCRN</td>
            <td>Reads color value of a low res block on the screen.</td>
          </tr>
          <tr>
            <td>$F941</td>
            <td>PRTAX</td>
            <td>Prints A and X in hex.</td>
          </tr>
          <tr>
            <td>$F94A</td>
            <td>PRBL2</td>
            <td>Sends 1-256 blank spaces to the output device whose address is in CSW.</td>
          </tr>
          <tr>
            <td>$FA47</td>
            <td>NEWBRK</td>
            <td></td>
          </tr>
          <tr>
            <td>$FA62</td>
            <td>RESET</td>
            <td></td>
          </tr>
          <tr>
            <td>$FB1E</td>
            <td>PREAD</td>
            <td></td>
          </tr>
          <tr>
            <td>$FBC1</td>
            <td>BASCALC</td>
            <td>Calculates the base address in video memory for the line offset stored in A. The address is stored in $28/$29.</td>
          </tr>
          <tr>
            <td>$FB5B</td>
            <td>TABV</td>
            <td></td>
          </tr>
          <tr>
            <td>$FB6F</td>
            <td>SETPWRC</td>
            <td></td>
          </tr>
          <tr>
            <td>$FBB3</td>
            <td></td>
            <td>Machine identification byte</td>
          </tr>
          <tr>
            <td>$FBC0</td>
            <td></td>
            <td>Machine identification byte</td>
          </tr>
          <tr>
            <td>$FBDD</td>
            <td>BELL1</td>
            <td>Generates a 1kz tone for 0.1 seconds. Scrambles A and X.</td>
          </tr>
          <tr>
            <td>$FC24</td>
            <td>VTABZ</td>
            <td>Sets vertical cursor position.</td>
          </tr>
          <tr>
            <td>$FC42</td>
            <td>CLREOP</td>
            <td>Clears to bottom of window.</td>
          </tr>
          <tr>
            <td>$FC58</td>
            <td>HOME</td>
            <td>Clears the window and puts cursor in upper left corner of window.</td>
          </tr>
          <tr>
            <td>$FC9C</td>
            <td>CLREOL</td>
            <td>Clears to end of line from current cursor position.</td>
          </tr>
          <tr>
            <td>$FC9E</td>
            <td>CLEOLZ</td>
            <td>Clears to end of line using Y as cursor position.</td>
          </tr>
          <tr>
            <td>$FCA8</td>
            <td>WAIT</td>
            <td>Delays for time specified by A.</td>
          </tr>
          <tr>
            <td>$FD0C</td>
            <td>RDKEY</td>
            <td>The standard character input subroutine.</td>
          </tr>
          <tr>
            <td>$FD0C</td>
            <td>RDCHAR</td>
            <td>Gets an input character or escape code.</td>
          </tr>
          <tr>
            <td>$FD1B</td>
            <td>KEYIN</td>
            <td></td>
          </tr>
          <tr>
            <td>$FD6A</td>
            <td>GETLN</td>
            <td>
              Repeatedly calls RDKEY, storing the characters in the input buffer (page $02). Characters are echoed to the screen as they are typed.
              The ASCII character stored in $33 is used as a prompt.
            </td>
          </tr>
          <tr>
            <td>$FD67</td>
            <td>GETLNZ</td>
            <td>
              Gets an input line with preceding carriage return.
            </td>
          </tr>
          <tr>
            <td>$FD6F</td>
            <td>GETLN1</td>
            <td>
              Same as GETLN but does not display a prompt.
            </td>
          </tr>
          <tr>
            <td>$FD8B</td>
            <td>CROUT1</td>
            <td>Clears to end of line, then generates a carriage return character.</tr>
            </tr>
          <tr>
            <td>$FD8E</td>
            <td>CROUT</td>
            <td>Generates a carriage return character.</td>
          </tr>
          <tr>
            <td>$FDE3</td>
            <td>PRHEX</td>
            <td>Prints lower nibble of A as hex number.</td>
          </tr>
          <tr>
            <td>$FDED</td>
            <td>COUT</td>
            <td>Calls the output routine stored in CSW (normally COUT1)</td>
          </tr>
          <tr>
            <td>$FDDA</td>
            <td>PRBYTE</td>
            <td>Prints a hexadecimal byte.</td>
          </tr>
          <tr>
            <td>$FDF0</td>
            <td>COUT1</td>
            <td>Displays a character on the screen.</td>
          </tr>
          <tr>
            <td>$FE2C</td>
            <td>MOVE</td>
            <td>Copies memory elsewhere.</td>
          </tr>
          <tr>
            <td>$FE36</td>
            <td>VERIFY</td>
            <td>Compares two blocks of memory.</td>
          </tr>
          <tr>
            <td>$FF2D</td>
            <td>PRERR</td>
            <td>Sends ERR and CTL-G to the output routine in CSW.</td>
          </tr>
          <tr>
            <td>$FF3A</td>
            <td>BELL</td>
            <td>Writes a bell control character to the current output device. After running, $87 will be stored in A.</td>
          </tr>
          <tr>
            <td>$FF3F</td>
            <td>IOREST</td>
            <td>Loads ($45-$49) into registers.</td>
          </tr>
          <tr>
            <td>$FF4A</td>
            <td>IOSAVE</td>
            <td>Stores (A,X,Y,P,S) at $45-$49.</td>
          </tr>
          <tr>
            <td>$FF58</td>
            <td>IORTS</td>
            <td>Location of known RTS instruction.</td>
          </tr>
          <tr>
            <td>$FF69</td>
            <td></td>
            <td>Standard Monitor entry point.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
