body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background: #aaa;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ee00ee;
}

a:hover {
  color: #ff0000;
}

a.glossary {
  text-decoration: dotted underline;
  color: inherit;
}

.keys {
  font-size: 80%;
}

.keys a {
  text-decoration: dotted underline;
  color: inherit;
}

#main {
  display: flex;
}

nav {
  flex: 1;
}

nav ul {
  list-style-type: none;
  padding-left: 1rem;
}

article {
  flex: 7;
  padding: 2rem 0;
}

aside {
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
}

section {
  width: 50%;
  margin: auto;
  margin-bottom: 5rem;
}

section dl dd {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.pro {
  color: green;
}

.con {
  color: red;
}

footer {
  display: block;
  text-align: center;
}

footer dl {
  display: inline-block;
}

footer dl dt {
  float: left;
  clear: both;
  width: 30%;
  text-align: left;
}

footer dl dd {
  float: right;
  margin: 0;
  width: 70%;
  text-align: left;
}
