<h1>Ideas for future exploration</h1>

<p>
  It would be interesting to write tutorials about these topics, how to
  set up and configure them to enhance your privacy and security.
</p>

<ol>
  <li>AppArmor vs. SELinux</li>
  <li>DNSMasq</li>
  <li>etckeeper</li>
  <li>System logging in Linux, BSD</li>
</ol>

<p>
  Custom keyboard/OS that allow typing/execution of symbolic languages (ADA, π∆€Π†)
</p>
