<head>
  <link rel='stylesheet' href='../../code2.css'>
</head>

<body>

  <div class='header'>
    <a href='../../index.html'>code][</a> > <a href='../gsos.html'>GS/OS Pascal</a> > Getting Started
  </div>

  <div class='paragraph-title'>Installation</div>
  <p>
    Before doing any Pascal programming in GS/OS, you'll need to make sure you have a few things first.<br>
    <br>
    * A IIgs to program on. This can be a real IIgs or a virtual one. My IIgs has 1.25 MB of RAM, and
    that is usually enough, but there are times when I find myself wanting more. Especially when working on
    large projects, the more memory, the better!<br>
    <br>
    * Pascal software. My preferred software is Complete Pascal, because it is freely available. You
    can download it from the <a href='ftp://ftp.apple.asimov.net/pub/apple_II/images/gs/programming/pascal/'>
    Asimov software archive</a>. Another good choice is ORCA/Pascal, which can be bought from
    <a href='http://store.16sector.com'>the Syndicomm store</a>. I don't have a copy of ORCA/Pascal, so I will be
    using Complete Pascal code in my examples. It should be mostly the same, however.<br>
    <br>
  </p>

  <p>
    After installing Complete Pascal, extract the .SHK someplace convenient and launch the executable.<br>
    <br>
    Select File -> New and create a file somewhere convenient. I named mine HelloWorld.pas.<br>
    <br>
    Now enter the following code into your new file:<br>
    <pre>
PROGRAM HelloWorld;

VAR
  name : String;

BEGIN
    Graphics(640);
    WriteLn('What is your name?');
    ReadLn(Input, name);
    WriteLn('Hello,', name, '!');
    ReadLn;
END.
    </pre>
    Select Compile -> To Memory to run your program. You could also choose Compile -> To Disk to create a application
    file that can be run on any IIgs. The program should ask you to type your name, then repeat it back to you after
    you press enter. Pressing enter again will return you to Complete Pascal.<br>
    <br>
    This program takes advantage of a Complete Pascal feature called 'textbook' programs. When you call the procedure
    Graphics(640) it automatically sets up a screen environment that you can print to and get input from like a standard
    console. This allows you to run examples from most Pascal textbooks. We won't be using the textbook environment much,
    but it's great for testing out small algorithms or prototyping ideas.<br>
    <br>
    If you made it this far, you're ready to get started on programming for GS/OS. The rest of the tutorials in this
    series assume that you are already somewhat familiar with Pascal. If you're not, there are lots of great tutorials
    available online. A good place to start is <a href='http://www.taoyue.com/tutorials/pascal'>Tao Yue's Pascal tutorials</a>.
    Complete Pascal supports most common Pascal standards. I'll explicitly point out any code segments that are non-standard.
  </p>

  <div class='nav'>
    <div class='nav-forward'>
      Next: <a href='toolkit-initialization.html'>Toolkit Initialization</a>
    </div>
  </div>

  <div class='footer'>
    questions, suggestions, impressions: <a href="mailto:admin@extropicstudios.com">admin@extropicstudios.com</a>
  </div>

</body>
