<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="comic.js"></script>
  <link rel="icon" type="image/png" href="/favicons/well.png">
  <link rel="stylesheet" type="text/css" href="comic.css" />
  <title>The Well</title>
</head>

<body>
<div id="content">
  <div id="previous">
    <a href="9.html">> Toss a dirt clod down the well.</a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/10.png" title="ooooooooooooooooöoooo....">
  </div>
  <div id="text">
    <div id="description">
      FWEEEEEEEEEEEEEEEEEEEEOOOOOOOOOOOOOOOooooooooooooooo.............<br>
      <br>
      You drop the dirt clod down the well.<br>
      <br>
      You do not hear it hit the bottom.
    </div>
    <div id="action">
      <a href="11.html">> Toss yourself down the well.</a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
