<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="comic.js"></script>
  <link rel="stylesheet" type="text/css" href="comic.css" />
  <title>The Well</title>
  <link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>

<div id="content">
  <div id="previous">
    <a href="11.html">==></a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/12.png" title="xyzzy">
  </div>
  <div id="text">
    <div id="description">
      WUMPH. You land on a large spongy mass. It is very dark here. You are worried at first that you are likely to be eaten by something. But then you turn your attention to more pressing matters, like trying to get your bearings. By the thin light streaming from the entrance far above, you can barely make out tunnels heading NORTH and SOUTH. The tunnel to the SOUTH descends slightly into the earth, while the tunnel to the NORTH is even.
    </div>
    <div id="action">
      <a href="13.html">> Take some of that spongy stuff with you.</a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
