<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="comic.js"></script>
  <link rel="icon" type="image/png" href="/favicons/well.png">
  <link rel="stylesheet" type="text/css" href="comic.css" />
  <title>The Well</title>
</head>

<body>
<div id="content">
  <div id="previous">
    <a href="12.html">> Take some of that spongy stuff with you.</a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/13.png" title="dubs">
  </div>
  <div id="text">
    <div id="description">
      You grab some of the spongy stuff and discover that it is some type of plant. After tugging on it for a bit, you pull off a vine.
    </div>
    <div id="action">
      <a href="14.html">==></a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
