<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="comic.js"></script>
  <link rel="stylesheet" type="text/css" href="comic.css" />
  <title>The Well</title>
  <link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>
<div id="content">
  <div id="previous">
    <a href="13.html">==></a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/14.png" title="If only I had a dog to carry some of this dirt for me...">
  </div>
  <div id="text">
    <div id="description">
      You discard some of the saliva-covered dirt in order to make room for the plant.
    </div>
    <div id="action">
      <a href="15.html">> Go SOUTH. Deeper!</a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
