<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="comic.js"></script>
  <link rel="stylesheet" type="text/css" href="comic.css" />
  <title>The Well</title>
  <link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>
<div id="content">
  <div id="previous">
    <a href="15.html">==></a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/16.png" title="It probably has a lot to do with that I'm learning, but this panel has a LOT of layers in Photoshop.">
  </div>
  <div id="text">
    <div id="description">
      You emerge into a vast cavern. Massive crystals the size of a house erupt from the walls of the cave. You are standing on a large plateau, with no visible way to reach the rest of the cavern.
    </div>
    <div id="action">
      <a href="17.html">> Dance.</a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
