<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="comic.js"></script>
  <link rel="stylesheet" type="text/css" href="comic.css" />
  <title>The Well</title>
  <link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>
<div id="content">
  <div id="previous">
    <a href="18.html">==></a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/19.png" title="Did I say big as a house? I meant big as a lasso.">
  </div>
  <div id="text">
    <div id="description">
      The vine wraps snugly around the base of the crystal.
    </div>
    <div id="action">
      <a href="20.html">> Swing across like Indiana Jones.</a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
