<head>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="comic.js"></script>
<link rel="stylesheet" type="text/css" href="comic.css" />
<link rel="icon" type="image/png" href="/favicons/well.png">
<title>The Well</title>
</head>

<body>

<div id="content">
  <div id="previous">
    <a href="19.html">> Swing across like Indiana Jones.</a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/20.png" title="guess what I had stuck in my head the entire time I was drawing this">
  </div>
  <div id="text">
    <div id="description">
      Dun da dun DUN!! Da da da!!!
    </div>
    <div id="action">
      <a href="21.html">==></a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
