<head>
<script src="jquery.js"></script>
<script src="comic.js"></script>
<link rel="stylesheet" type="text/css" href="comic.css" />
<link rel="icon" type="image/png" href="/favicons/well.png">
<title>The Well</title>
</head>

<body>

<div id="content">
  <div id="previous">
    <a href="21.html">Lick the crystal.</a>
  </div>
  <div id="comic">
    <img style='width:640px;' src="https://s3.amazonaws.com/the-well/22.png" title="that's it?">
  </div>
  <div id="text">
    <div id="description">
      You lean lower and lovingly lick the luminous lattice.<br>
      <br>
      It tastes like crystal.
    </div>
    <div id="action">
      <script type="text/javascript">var submitted=false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe"
      style="display:none;" onload="if(submitted)
      {window.location='https://www.extropicstudios.com/comic/confirm.html';}"></iframe>
      <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dEQ4cU9sdlFIdmEwd19Ea2dLYXRoUmc6MQ" method="post"
      target="hidden_iframe" onsubmit="submitted=true;">
      ><input type="text" class="textbox" name="entry.0.single" value="" autocomplete='off'>
      <input type="hidden" id="ip-address" name="entry.1.single" value="">
      <input type="hidden" id="useragent" name="entry.3.single" value="">
      <input type="hidden" name="pageNumber" value="0">
      <input type="hidden" name="backupCache" value="">
      <input type="submit" name="submit" value="Submit" style="visibility:hidden"></form>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
