<head>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="comic.js"></script>
<link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>
<link rel="stylesheet" type="text/css" href="comic.css" />

<title>The Well</title>

<div id="content">
  <div id="previous">
    <a href="2.html">> Dig a better well next to the first one.</a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/3.png" title="Things get off to a slow start.">
  </div>
  <div id="text">
    <div id="description">
      You attempt to dig a well, but your stubby cartoonish hands are surprisingly ineffective and you are forced to give up after only a few hours. You will need to find some kind of tool if you want to dig a proper well.
    </div>
    <div id="action">
      <a href="4.html">> Try using your teeth.</a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
