<head>
<link rel="stylesheet" type="text/css" href="comic.css" />
<title>The Well</title>
<link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>
<div id="content">
  <div id="previous">
    <a href="6.html">==></a>
  </div>
  <div id="comic">
    <img src="https://s3.amazonaws.com/the-well/7.png" title="Maybe a merchant will buy it??? Isn't that how games work?">
  </div>
  <div id="text">
    <div id="description">
      You shove some more dirt in your mouth.
    </div>
    <div id="action">
      <a href="8.html">==></a>
    </div>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game (F2)</a></li>
    <li><a href="last.html">Load Game (F3)</a></li>
    <li><a href="/">Quit (F4)</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>

</body>
