<head>
<link rel="stylesheet" type="text/css" href="comic.css" />
<title>The Well</title>
<link rel="icon" type="image/png" href="/favicons/well.png">
</head>

<body>

<div id="content">
  <div id="thanks">
    Thanks for submitting your command. Please allow 3-5 business days for the comic-slaves to complete their labors.<br>
    <br>
    <a href="last.html">> Back to the comic.</a><br>
    <br>
  </div>
</div>

<div id="nav">
  <ul>
    <li><a href="1.html">New Game</a></li>
    <li><a href="last.html">Load Game</a></li>
    <li><a href="/">Quit</a></li>
  </ul>
</div>

<div id="social">
<a href="/comic/feed.xml"><img src="feed.png"></a>
</div>
</body>
