<head>
  <link rel='stylesheet' href='../code2.css'>
</head>

<body>
  <div class='header'>
    <a href='../index.html'>code][</a> > GS/OS Pascal
  </div>

  <div class='section-items'>
    <div class='item'><a href='gsos/1-getting-started.html'>* Getting Started</a></div>
    <div class='item'><a href='gsos/2-toolkit-initialization.html'>* Toolkit Initialization</a></div>
  </div>

  <div class='footer'>
    questions, suggestions, impressions: <a href="mailto:admin@extropicstudios.com">admin@extropicstudios.com</a>
  </div>
</body>
