<head>
    <link rel="stylesheet" type="text/css" href="apple2.css" />
    <title>Apple II Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>
<div class='content'>

<div id='links'>
  <ul>
    <li>&nbsp;</li>
    <li><a href='/index.html'><span class='invert'>*</span> Home</a></li>
    <li>&nbsp;</li>
    <li><a href='index.html'><span class='invert'>*</span> Retrocomputing</a></li>
    <li>&nbsp;</li>
    <li><a href='http://code68k.extropicstudios.com'><span class='invert'>*</span> Code68k</a></li>
    <!--<li><a id='link-bottom' href='http://sites.google.com/site/codexxnetwork'>CodeXX/Network</a></li>-->
  </ul>
</div>

<br>

<a href='index.html'><span class='invert'>&lt;- Back to Retrocomputing Collection</span></a><br>
&nbsp;-------------------------------------------

<br><br>

<div class='page_header'>
**********************<br>
*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *<br>
* Apple ][ Computers *<br>
*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *<br>
**********************
</div>

<br>

<div class='tab_table'>
<div class='table_header'>Apple ][+</div>
<table>
<tr><th>Serial Number</th><th>Marks</th>         <th></th><th>Issues</th></tr>
<tr><td>A2S2-578504</td>  <td>'NBMS' on case</td><td></td><td>Missing all keys</td></tr>
</table>
</div>

<br><br>

<div class='tab_table'>
<div class='table_header'>Apple //c</div>
<table>
<tr><th>Serial Number</th> <th>Marks</th>      <th>Firmware Version</th><th>Issues</th></tr>
<tr><td>F6440DGA2S4100</td><td>None</td><td>3</td>               <td>None</td></tr>
<tr><td>F643GL2A2S4100</td><td>Severe yellowing</td>   <td>3</td>               <td>Keyboard needs replacing</td></tr>
</table>
</div>

<br><br>

<div class='tab_table'>
<div class='table_header'>Apple //e</div>
<table>
<tr><th>Serial Number</th>                                        <th>Marks</th>                 <th>Model</th>  <th>Issues</th></tr>
<tr><td><a href='pages/knuth.html'>1A2S2-D49 0A4T A2S2064</a></td><td>"ComputerCraft" emblem</td><td>A2S2064</td><td>None</td></tr>
<tr><td>1A2S2-056272</td>                                         <td></td>                      <td>A2S2064</td><td>???</td></tr>
<tr><td>1A2S2-D49 0NW9 A2S2064</td>                               <td></td>                      <td>A2S2064</td><td>Missing 'v' key</td></tr>
<tr><td>3A2S2-E6404PU A2S2064</td>                                <td></td>                      <td>A2S2064</td><td>Missing 5 keys</td></tr>
<tr><td>1A2S2-D49 0Z57 A2S2064</td>                               <td></td>                      <td>A2S2064</td><td>Missing 2 keys</td></tr>
<tr><td>1A2S2-D49 0STX A2S2064</td>                               <td></td>                      <td>A2S2064</td><td>Missing 'v' key</td></tr>
<tr><td>3A2S2-E711164A2S2128</td>                                 <td></td>                      <td>A2S2128</td><td>Missing '9' key</td></tr>
</table>
</div>

<br><br>

<div class='tab_table'>
<div class='table_header'>Apple IIgs</div>
<table>
<tr><th>Serial Number</th>        <th>Marks</th>                <th></th><th>Issues</th></tr>
<tr><td>A2S2-E924SE0A2S6000</td>  <td>Apple logo is missing</td><td></td><td>???</td></tr>
<tr><td>A2S2-E944U6LA0012LL/A</td><td>None major</td>           <td></td><td>???</td></tr>
<tr><td>A2S2-E7080PSA2S6001</td>  <td>//e upgrade kit</td>      <td></td><td>Missing caps lock key</td></tr>
<tr><td>A2S2-E821P7VA2S6000</td>  <td>'1825' on top front</td>  <td></td><td>???</td></tr>
</table>
</div>

<br><br>

<div class='tab_table'>
<div class='table_header'>Peripherals</div>
<table>
<tr><th>Serial Number</th><th>Type</th>         <th>Model</th>  <th>Issues</th></tr>
<tr><td>KE30922</td>      <td>5.25" Drive</td>  <td>A9M0107</td><td>Cannot read disks, may damage disks (needs internal cleaning)</td></tr>
<tr><td>KGS2401</td>      <td>5.25" Drive</td>  <td>A9M0107</td><td>None known</td></tr>
<tr><td>324966</td>       <td>5.25" DuoDisk</td><td>A9M0108</td><td>Works, needs cleaning</td></tr>
</table>
</div>

</div>
</body>
