@font-face {
    font-family: "Apple";
    src: url(apple.ttf);
}

body {
    background: black;
    color: lime;
    font-family: "Apple", monospace;
}

a:link {
    color: black;
    background-color: lime;
    text-decoration: none;
}

a:link .invert {
    color: lime;
    background-color: black;
}

a:visited {
    color: black;
    background-color: lime;
}

a:visited .invert {
    color: lime;
    background-color: black;
}

a:hover {
    color: lime;
    background-color: black;
}

a:hover .invert {
    color: black;
    background-color: lime;
}

.content {
    text-align: center;
}

.page_header {
}

.tab_table {
    margin: 0px auto;
    width: 70%;
}

.tab_table table {
    width: 100%;
    border: 2px solid lime;
    text-align: center;
    clear:both;
    border-collapse: collapse;
}

.tab_table th {
    border-bottom: 2px solid lime;
    width: 25%;
}

.table_header {
    border-left: 2px solid lime;
    border-right: 2px solid lime;
    border-top: 2px solid lime;
    float: left;
    padding: 3px;
}

/* for left nav */

ul {
    list-style-type: none;
}

#links {
    position: fixed;
    text-align: left;
    /*width: 11em;*/
    padding: 0 0 0 0;
}

#links ul {
    margin: 0;
    padding: 0;
    border: none;
}

#links li {
    margin: 0;
}

#links li a {
    display: block;
    margin-left: 1em;
    background-color: black;
    color: lime;
    text-decoration: none;
}

#links li a .invert {
    background-color: lime;
    color: black;
}

#links li a:hover {
    background-color: lime;
    color: black;
}

#links li a:hover .invert {
    background-color: black;
    color: lime;
}
