<head>
    <link rel="stylesheet" type="text/css" href="commodore.css" />
    <title>Commodore Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>

<div class='content'>

<div id='links'>
  <ul>
    <li>&nbsp;</li>
    <li><a href='/index.html'><span class='invert'>*</span> Home</a></li>
    <li>&nbsp;</li>
    <li><a href='index.html'><span class='invert'>*</span> Retrocomputing</a></li>
    <li>&nbsp;</li>
    <li><a href='http://code68k.extropicstudios.com'><span class='invert'>*</span> Code68k</a></li>
    <!--<li><a id='link-bottom' href='http://sites.google.com/site/codexxnetwork'>CodeXX/Network</a></li>-->
  </ul>
</div>

<br>

<a href='index.html'>&lt;- Back to Retro Collection</a><br>
&nbsp;----------------------------------

<br><br>

<div class='page_header'>
***********************<br>
* &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *<br>
* Commodore Computers *<br>
* &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *<br>
***********************
</div>


<br><br>

<div class='tab_table'>
<span class='table_header'>* Systems *</span>
<table>
<tr class='head'><th>Type</th>         <th>Serial</th>       <th>Issues</th>       <th></th></tr>
<tr class='head'><th>-------------</th><th>-------------</th><th>-------------</th><th>-------------</th></tr>
<tr>             <td>VIC-20</td>       <td></td>             <td></td>             <td></td></tr>
<tr>             <td>-------------</td></tr>
<tr>             <td>VIC-20</td>       <td></td>             <td></td>             <td></td></tr>
</table>
</div>

<br><br>

<div class='tab_table'>
<span class='table_header'>* Peripherals *</span>
<table>
<tr class='head'><th>Type</th>              <th>Model</th>        <th>Serial</th>       <th>Issues</th></tr>
<tr class='head'><th>-------------</th>     <th>-------------</th><th>-------------</th><th>-------------</th></tr>
<tr>             <td>Cassette Drive</td>    <td></td>             <td></td>             <td></td></tr>
<tr>             <td>-------------</td></tr>
<tr>             <td>5.25" Floppy Drive</td><td>1541-II</td>      <td>JA1 106400</td>   <td>No power or serial cables</td>
</table>
</div>

<br><br>

</div>
</body>
