<head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>Retrocomputing Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>

<div id='links'>
  <ul>
    <li><a id='link-top' href='/index.html'>Home</a></li>
    <li><a href='index.html'>Retrocomputing</a></li>
    <li><a id='link-bottom' href='http://code68k.extropicstudios.com'>Code68k</a></li>
    <!--<li><a id='link-bottom' href='http://sites.google.com/site/codexxnetwork'>CodeXX/Network</a></li>-->
  </ul>
</div>

<span class='iconbox'>
<a href='apple2.html'>
<img src='images/icon_apple2.png'><br>
<br>
Apple II<br>
</a>
</span>

<!--
<span class='iconbox'>
<a href='mac.html'>
<img src='images/icon_mac.png'><br>
<br>
Macintosh<br>
</a>
</span>
-->

<span class='iconbox'>
<a href='commodore.html'>
<img src='images/icon_commodore.png'><br>
<br>
Commodore<br>
</a>
</span>

<br>
<br>

</body>
