<head>
    <link rel="stylesheet" type="text/css" href="mac.css" />
    <title>Mac Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>

<div class='content'>

<div class='tab_table'>
<div class='table_header'>68k Macs</div>
<table>
<tr>           <th>Type</th>                <th>Serial</th>          <th>Issues</th></tr>
<tr><td class='c1'>Macintosh Classic II</td><td>E1402KXM1542LL/A</td><td>Motherboard unseated, won't boot</td></tr>
<tr><td class='c1'>Macintosh SE</td>        <td>F731564M5010</td>    <td>Floppy drive broken, won't boot</td></tr>
<tr><td class='c1'>Macintosh Plus</td>      <td>E9270SQM5880</td>    <td>???</td></tr>
</table>
</div>

<br>

<div class='tab_table'>
<div class='table_header'>Old World PPC Macs</div>
<table>
<tr>           <th>Type</th>            <th>Serial</th>     <th>Issues</th></tr>
<tr><td class='c1'>PowerMac 6100/60</td><td>???</td>        <td></td></tr>
<tr><td class='c1'>LC III</td>          <td>LC4247JK3HT</td><td></td></tr>
</table>
</div>

<br>

<div class='tab_table'>
<div class='table_header'>New World PPC Macs</div>
<table>
<tr>           <th>Type</th>            <th>Serial</th>                            <th>Issues</th></tr>
<tr><td class='c1'>Grape iMac G3</td>   <td><a href='pages/grape.html'>???</a></td><td>Needs new PRAM battery</td></tr>
<tr><td class='c1'>Blue PowerMac G3</td><td>SG9032P1FQ2</td>                       <td>???</td></tr>
</table>
</div>

</div>

</body>
