<head>
    <link rel="stylesheet" type="text/css" href="sgi.css" />
    <title>SGI Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>

<div id='links'>
  <ul>
    <li><a id='link-top' href='/index.html'>Home</a></li>
    <li><a href='index.html'>Retrocomputing</a></li>
    <li><a id='link-bottom' href='http://code68k.extropicstudios.com'>Code68k</a></li>
    <!--<li><a id='link-bottom' href='http://sites.google.com/site/codexxnetwork'>CodeXX/Network</a></li>-->
  </ul>
</div>

<div class='content'>

<div class='page_header'>
SGI Computers
</div>

<br><br>

<div class='tab_table'>
<div class='table_header'>Systems</div><br>
<table>
<tr>           <th>Type</th>  <th>Serial</th><th>Issues</th></tr>
<tr><td class='c1'>Octane</td><td>???</td>   <td>???</td></tr>
</table>
</div>

</div>

</body>
